* {
    -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  user-select: none;
}

.scroll {
  -webkit-touch-callout: touch;
}

p {
  margin: 0;
  padding: 0;
}
